%p
  join a channel by either entering a channel name and pressing
  %em join

%p or click on an recent channel below

= form_for :channel do |f|
  = f.text_field :name
  = f.submit 'join'

%h2 recent channels

%ul.recent_channels
  - Channel.recents.each do |id|
    %li= link_to id, channel_path(id)
