.connect

  = form_tag connect_path do
    = label_tag 'nick'
    = text_field_tag 'nick'
    = submit_tag 'connect'

%h1 IRClone

%p
  Choose a nickname and press
  %em connect
  to start.

%p
  You can always follow the
  %em channels
  link at the bottom to return to the list of channels

%p
  You can always press the
  %em disconnect
  button at the bottom.

